# Session Data files
.RData
# User-specific files
.Ruserdata
# RStudio files
.Rproj.user/
.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf
inst/doc/*.html
# R Environment Variables
.Renviron
.Rproj.user
# Data
inst/extdata/*
!inst/extdata/metadata.csv
/doc/
/Meta/
